* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/* CABEÇALHO */

.header {
    width: 100%;
    background-image: url(/assets/img/banner-topo.jpg);
    background-position: center;
    background-size: cover;
    padding: 120px 80px;
}

.header__box {
    width: 250px;
    color: #3c184e;

}

.header__box__img {
    width: 30px;
    margin-right: 5px;
}

.header__box__paragraph--primary {
    font-size: 35px;
    margin: 0 0 5px 0;
}

.header__box__paragraph--secondary {
    font-size: 14px;
    text-align: center;
}

.header__content {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
    text-align: center;
}

.header__content__title {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.header__content__link {
    width: 200px;
    background-color: #3c184e;
    color: #fff;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.header__content__link__img {
    width: 20px;
}

/* PRIMEIRA SESSÃO*/

.section {
    padding: 120px 80px;
}

.services__title {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;

}

.services__list {
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
    list-style: square;
}

.services__list__item {
    font-size: 20px;
    margin: 0 0 20px 0
}

.services__list__item__destaque, .redes-sociais__paragraph__destaque {
    font-weight: 700;
    font-style: italic;
}

.services__img {
    max-width: 800px;
    margin: 0 auto;
}

.services__img img {
    border-radius: 5px;
    margin: 2px;
    box-shadow: 3px 6px 10px 3px #0000005c;
}

/* TERCEIRA SESSÃO */

.redes-sociais {
    background-color: #3c184e;
    margin: 0 auto;
    text-align: center;
}

.redes-sociais__paragraph {
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
}

.redes-sociais__img {
    width: 50px;
    margin: 0 20px;
}

/* QUARTA SESSÃO */

.marcas__title {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.marcas__box__img {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.marcas__img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

/* QUINTA SESSÃO */

.onde-estamos {
    text-align: center;
}

.onde-estamos__title {
    font-size: 36px;
    color: #3c184e;
    margin-bottom: 45px;
}

.onde-estamos__paragraph {
    font-size: 20px;
    color: #3c184e;
    margin-bottom: 45px;
}

/* SEXTA SESSÃO */

.rodape {
    padding: 10px 0;
    background-color: #3c184e;
    text-align: center;
}

.rodape a {
    color: #fff;
    font-size: 12px;
}



